<% include ./partials/headers.ejs%>
    <p>isLoggedIn: <%= loggedIn %></p>
    <div class="img">
        <img src="./images/<%= assosciatedUser.uimage %>" alt="">
    </div>
<% include ./partials/footer.ejs%>